<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Employees</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container"></div>
        <div class="btn-menu"></div>
          <label for="btn-menu" id="CajaMenu">☰</label>
    </header>
    <h2>USUARIOS</h2>
    <div id="Buttons">
        <form method="POST"  th:action="@{/employee/post}" th:object="${newEmployee}">
            <h3>Nuevo Usuario</h3>
            <label for="id">id</label><br>
            <input type="text" id="id" name="id" th:field="*{id}"/><br>
            <label for="Nombre">Nombre</label><br>
            <input type="text" id="Nombre" name="Nombre" th:field="*{name}"/><br>
            <label for="Correo">Correo</label><br>
            <input type="text" id="Correo" name="Correo" th:field="*{email}"/><br>
            <label for="Rol">Rol </label> <br>
            <input type="text" id="Rol" name="Rol" th:field="*{role}" /><br>
            <label for="Empresa_id">Empresa_id </label> <br>
            <input type="text" id="Empresa_id" name="Empresa_id" th:field="*{enterprise}" /><br>
            <input type="submit" value="Ingresar" />

        </form>
    </div>
    <div class="capa"></div>
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <font></font> <img src="Images\UPD.jpg" height="140" /><font></font>
          <a href="inicio">Inicio</a>
          <a href="employee/add">Usuarios</a>
          <a href="enterprise/add">Empresas</a>
          <a href="transaction/add">Ingresos y Egresos</a>
          <div id="Colaboradores">
            <p>Colaboradores</p>
            <font></font> <img src="Images\MinTic.jpg" height="76" /><font></font><br>
            <font></font> <img src="Images\UdeA.jpg" height="70" /><font></font><br>
          </div>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>
  </body>
</html>
