<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container"></div>
        <div class="btn-menu"></div>
          <label for="btn-menu" id="CajaMenu">☰</label>
    </header>
    <h1>ADMINISTRACIÓN DE INGRESOS Y EGRESOS</h1>
    <div id="Buttons">
        <div><a href="TransactionSystem">Sistema de Gestión de Ingresos y Gastos</a></div>
        <div><a href="employee/add">Sistema de Gestión de Usuarios</a></div>
        <div><a href="enterprise/add">Sistema de Gestión de Empresas</a></div>
    </div>
    <div class="capa"></div>
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <font></font> <img src="Images\UPD.jpg" height="140" /><font></font>
          <a href="inicio">Inicio</a>
          <a href="employee">Usuarios</a>
          <a href="enterprise">Empresas</a>
          <a href="transaction">Ingresos y Egresos</a>
          <div id="Colaboradores">
            <p>Colaboradores</p>
            <font></font> <img src="Images\MinTic.jpg" height="76" /><font></font><br>
            <font></font> <img src="Images\UdeA.jpg" height="70" /><font></font><br>
          </div>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nombre Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Nombre Persona</th>
        <th scope="col">Perfil</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.password}"></td>
        <td th:text="${usuario.name}"></td>
        <td th:text="${usuario.role}"></td>



      </tr>
      </tbody>
    </table>




  </body>
</html>
