<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>


  <div sec:authorize="isAuthenticated()">

      <header class="header">
        <div class="container"></div>
          <div class="btn-menu"></div>
            <label for="btn-menu" id="CajaMenu">☰</label>
      </header>
      <h1>ADMINISTRACIÓN DE INGRESOS Y EGRESOS</h1>
      <div id="Buttons">
          <div sec:authorize="hasAnyRole('ADMIN','USER')" ><a href="TransactionSystem">Sistema de Gestión de Ingresos y Gastos</a></div>
          <div sec:authorize="hasRole('ADMIN')"><a href="Employee">Sistema de Gestión de Usuarios</a></div>
          <div sec:authorize="hasRole('ADMIN')"><a href="Enterprise">Sistema de Gestión de Empresas</a></div>

      </div>
      <div class="capa"></div>
      <input type="checkbox" id="btn-menu" />
      <div class="container-menu">
        <div class="cont-menu">
          <nav>
            <font></font> <img src="Images\UPD.jpg" height="140" /><font></font>
              <div sec:authorize="hasAnyRole('ADMIN','USER')" > <a href="inicio">Inicio</a> </div>
              <div sec:authorize="hasRole('ADMIN')" ><a href="Employee">Usuarios</a> </div>
              <div sec:authorize="hasRole('ADMIN')" ><a href="Enterprise">Empresas</a> </div>
              <div sec:authorize="hasAnyRole('ADMIN','USER')" ><a href="Transaction">Ingresos y Egresos</a></div>



              <div id="Colaboradores">
              <p>Colaboradores</p>
              <font></font> <img src="Images\MinTic.jpg" height="76" /><font></font><br>
              <font></font> <img src="Images\UdeA.jpg" height="70" /><font></font><br>

            </div>
              <form th:action="@{/logout}" method="post">

                  <button type="submit" id="CerrarSesion"> Cerrar Sesión    </button>

              </form>
          </nav>
          <label for="btn-menu">✖️</label>


        </div>
      </div>

  </div>

  <div sec:authorize="!isAuthenticated()">
    <a href="/login">
      Por favor Iniciar Sesión

    </a>
  </div>




  </body>
</html>
