<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Ingresos y Gastos</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container"></div>
      <div class="btn-menu"></div>
          <label for="btn-menu" id="CajaMenu">☰</label>
    </header>
    <h1>ADMINISTRACIÓN DE INGRESOS Y EGRESOS</h1>
    <a href="transaction/add" id="Nuevo">Nuevo</a>




    <div id="Table">
        <h2>Listado de empresas</h2>
    </div>


    <table class="table">
        <thead>
        <tr>
          <th scope="col">Id Empresa</th>
          <th scope="col">Nombre Empresa</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">NIT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enterprise : ${enterprises}">
          <td th:text="${enterprise.id}"></td>
          <td th:text="${enterprise.name}"></td>
          <td th:text="${enterprise.address}"></td>
          <td th:text="${enterprise.phone}"></td>
          <td th:text="${enterprise.NIT}"></td>
          <td>

            <div>
              <form th:action="@{/TransactionEnterprise/{id}(id=${enterprise.id})}" th:method="get">
                <button type="submit">Ver transacciones</button>
              </form>
            </div>

          </td>

        </tr>
        </tbody>
      </table>







    <div class="capa"></div>
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <font></font> <img src="Images\UPD.jpg" height="140" /><font></font>
          <a href="inicio">Inicio</a>
          <a href="employee/add">Usuarios</a>
          <a href="enterprise/add">Empresas</a>
          <a href="transaction/add">Ingresos y Egresos</a>
          <div id="Colaboradores">
            <p>Colaboradores</p>
            <font></font> <img src="Images\MinTic.jpg" height="76" /><font></font><br>
            <font></font> <img src="Images\UdeA.jpg" height="70" /><font></font><br>
          </div>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>

  </body>
</html>