<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <title>Ingresos y Egresos</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="btn-menu">
          <label for="btn-menu" id="CajaMenu">☰</label>
    </header>
    <h2>INGRESOS Y EGRESOS</h2>
    <div id="Buttons">
        <form method="POST"  th:action="@{/Transaction}" th:object="${newTransaction}">
            <h3>Nuevo Movimiento de Dinero</h3>
            <label for="id">id</label><br>
            <input type="text" id="id" name="id" th:field="*{id}" /><br>
            <label for="Monto">Monto</label><br>
            <input type="text" id="Monto" name="Monto" th:field="*{amount}" /><br>
            <label for="Tipo Monto">Tipo Monto</label><br>
            <input type="checkbox" id="Tipo Monto" name="Tipo Monto" th:field="*{typeAmount}" /><br>
            <label for="Concepto">Concepto</label><br>
            <input type="text" id="Concepto" name="Concepto" th:field="*{concept}"/><br>
            <label for="Empleado">Empleado</label><br>
            <input type="text" id="Empleado" name="Empleado" th:field="*{employee}" /><br>
            <label for="Empresa">Empresa</label><br>
            <input type="text" id="Empresa" name="Empresa" th:field="*{enterprise}" /><br>
            <input type="submit" value="Ingresar" />

          </form>
    </div>
    <div class="capa"></div>
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <font></font> <img src="Images\UPD.jpg" height="140" /><font></font>
            <div sec:authorize="hasAnyRole('ADMIN','USER')" > <a href="inicio">Inicio</a> </div>
            <div sec:authorize="hasRole('ADMIN')" ><a href="Employee">Usuarios</a> </div>
            <div sec:authorize="hasRole('ADMIN')" ><a href="Enterprise">Empresas</a> </div>
            <div sec:authorize="hasAnyRole('ADMIN','USER')" ><a href="Transaction">Ingresos y Egresos</a></div>

            <div id="Colaboradores">
            <p>Colaboradores</p>
            <font></font> <img src="Images\MinTic.jpg" height="76" /><font></font><br>
            <font></font> <img src="Images\UdeA.jpg" height="70" /><font></font><br>
          </div>
            <form th:action="@{/logout}" method="post">

                <button type="submit" id="CerrarSesion"> Cerrar Sesión    </button>

            </form>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>
  </body>
</html>
